@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    font-family: 'poppins', 'san-serif';
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    color-scheme: dark;

}

header{
    background-color: #c4bbf0;
    /* background-color: #4a2ce1; */
    width: 100%;
    position: fixed;
    z-index: top;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.63em 9.38em;
    
}

.logo
{
    text-decoration: none;
    color: #0b0040;
    text-transform: uppercase;
    font-weight: 800;
    font-size: 1.9em;

}

.navigation a
{
    text-decoration: none;
    color: #4a2ce1;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 1.2em;
    padding-left: 0.3em;
    /* margin: 1em; */
}

.navigation a:hover
{
    color: blueviolet;
    /* font-weight: 700; */
}

section
{
    padding: 6.25em 12.5em;
}

.main
{
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    background: url(images/test1.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed ;
    /* background-color: #363b4e; */
}

.main h2
{
    font-size: 1.4em;
    font-weight: 500;
    
}

.main h2 span
{
    display: inline-block;
    margin-top: 0.3em;
    /* color: #4a2ce1; */
    color: #93deff;
    font-size: 3em;
    font-weight: 600;
}

.main h3
{
    font-size: 2em;
    font-weight: 700;
    letter-spacing: 1px;
    margin-top: 0.3em;
    margin-bottom: 1.9em;

}

.main-button
{
    text-decoration: none;
    color: azure;

    font-size: x-large;
    margin-bottom: 0.5em;
    font-weight: 600;
    background-color: #4a2ce1;
    display: inline-block;
    padding: 0.9em 2.1em;
    border-radius: 1em;
    margin-bottom: 2em;
    transition: 0.5s ease;
}

.main-button:hover
{
    background-color: #77529e;
    transform: scale(1.1);

}

.social a
{
    font-size: 2.5em;
    font-weight: 700;
    padding-left: 1em;
    color: azure;
}

.social a:hover
{
    color: #77529e;
    font-weight: 900;
}